---
import InfoPage from "../../components/InfoPage.astro";
---

<InfoPage
  title="Meal Timetable"
  intro="Mealtimes for the conference."
>
  <p class="note">
    The meal timetable will be published here soon.
  </p>
</InfoPage>
