---
import InfoPage from "../../components/InfoPage.astro";
---

<InfoPage
  title="Meal Timetable"
  intro="Mealtimes and serving groups for the conference."
>
  <p class="note">
    The meal timetable will be published here soon. Your meal group appears on your
    pass once it is assigned.
  </p>
</InfoPage>
