---
import InfoPage from "../../components/InfoPage.astro";
---

<InfoPage
  title="Order of Programme"
  intro="The daily flow of sessions, prayer and gatherings."
>
  <p class="note">
    The full programme schedule will be published here soon. Please check back
    closer to the conference.
  </p>
</InfoPage>
