---
import InfoPage from "../../components/InfoPage.astro";
---

<InfoPage
  title="Conference Rules"
  intro="A few guidelines to help us steward this time together well."
>
  <p class="note">
    The full camp guidelines will be published here soon. Please check back closer
    to the conference.
  </p>
</InfoPage>
